@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("fonts/roboto-v20-latin-regular.woff") format("woff");
  
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("fonts/roboto-v20-latin-500.woff2") format("woff2"), url("fonts/roboto-v20-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("fonts/roboto-v20-latin-700.woff2") format("woff2"), url("fonts/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("fonts/roboto-v20-latin-900.woff2") format("woff2"), url("fonts/roboto-v20-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "SalesforceSans-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/SalesforceSans-Regular.woff2") format("woff2"), url("fonts/SalesforceSans-Regular.woff") format("woff");
}

/*-----------------normalize start----------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-----------------normalize end----------------*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #53565A;
}

.content-wrapper {
  display: block;
  max-width: 1440px;
  min-width: 250px;
  min-height: 1024px;
  background: url(images/main_background.png) no-repeat right 6px top 218px;
  padding: 20px;
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  .content-wrapper {
    background-size: 100%;
  }
}

